<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="justify-content: space-between;">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>

      <!-- div for login logic -->
      <div>
        <!-- two different renders depending if we have cookie set -->
        <% if (!username) { %> 
          <!-- if not, show login form -->
        <form class="form-inline" action="/login" method="POST">
          <input style="margin-right: 1em; padding: .375rem 0px .375rem .15rem" type="text" name="username" placeholder="Username" style="width: 300px">
          <button class="btn btn-outline-dark" type="submit">Login</button>
        </form>
        <% } else { %>
          <!-- if we're signed in already, show username and logout button -->
          <form class="form-inline" action="/logout" method="POST">
            <p style="margin: auto; margin-right: 1em">Logged in as: <%= username %>!</p>
            <button class="btn btn-outline-dark" type="submit">Logout</button>
          </form>
        <% } %>
      </div>
    </div>
  </nav>
</header>
